# Dependencies
node_modules/
yarn.lock
pnpm-lock.yaml

# Next.js
.next/
out/
build/
dist/

# Env — jangan commit credential
.env
.env.local
.env.*.local
.env.development.local
.env.production.local

# Storage — jangan commit upload user
/storage/uploads
/storage/uploads/*
!storage/uploads/.gitkeep

# Prisma — JANGAN ignore migrations (dibutuhkan untuk deploy production via `prisma migrate deploy`)
# prisma/migrations/  <-- sengaja di-commit

# OS
.DS_Store
Thumbs.db

# IDE
.vscode/
.idea/
*.log
npm-debug.log*

# Secrets — jangan commit credential
docs/inv.txt
*.pem

# Temp
opencode/
tmp/
temp/

# TS build info
tsconfig.tsbuildinfo
